body {
    background-color: #f8f9fa; /* Light background for better contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

.div-header {
    display: flex;
    justify-content: center;
    background-color: rgb(88, 158, 224);
    padding: 1%;
    width: 100%;
    margin-bottom: 1%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    gap: 20px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

form {
    width: 100%;
}

button {
    width: 100%;
}

#search-history-container {
    width: 100%;
}

.card {
    width: 100%;
    background-color: rgb(88, 158, 224);
    color: white;
}

.weather-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .search-section {
        width: 100%;
        max-width: none;
    }

    .card {
        margin-top: 20px;
    }

    .forecast-container {
        justify-content: center;
    }
}
